global
    log stdout format raw local0
    external-check
    insecure-fork-wanted

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend postgres_write
    bind :5432
    default_backend postgres_primary_only

backend postgres_primary_only
    option external-check
    external-check path "/usr/local/bin:/usr/bin:/bin"
    external-check command /usr/local/bin/check-primary
    default-server check init-addr libc,none inter 1s fastinter 500ms downinter 500ms fall 2 rise 2
    server primary primary:5432
    server standby standby:5432
